<!-- codigo para importar
>head:  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $( ".inst-nav-bar" ).load( "components/navBar.html" );
 </script>
-->
<body>
    
    <div class="compnavbar">

        <div class="placer-icon icon"></div>
        <nav class="nav_pages">
            <ul class="list-style-none">
                <li><a href="http://localhost/trabalhoWebPaginaSustentabilidade/">Sobre nós</a></li>
                <li><a href="http://localhost/trabalhoWebPaginaSustentabilidade/pages/TiposDePlantas.php">Tipos de Plantas</a></li>
                <li><a href="">Engenharia Verde</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>

        
    </div>
    <style>
        @import url('/trabalhoWebPaginaSustentabilidade/components/navBarStyle.css');
    </style>

</body>